body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar {
  width: 25%;
  background: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.sidebar li:hover {
  background: #34495e;
}

.icon {
  margin-right: 10px;
  font-size: 1.5em;
}


.content {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 1.2em;
}

th {
  background: #ecf0f1;
  text-align: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0 5px;
}

button.edit:hover {
  color: #2980b9;
}

button.delete:hover {
  color: #c0392b;
}